body {
  background-color: #3f3f3f;
}

/* -------- NORMAL CARD ------- */

#card {
 display: flex;
 flex-wrap: wrap;
 margin-top: 20px;
 
}

.card-list {
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 590px;
   background-color: #fff;
   overflow: hidden;
   box-shadow: 2px 4px 4px #00000080;
}


.card-list div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5px;
}

#btn {
  text-decoration: none;
  text-align: right;
  font-weight: bold;
  color: #005a29;
  margin-right: 5px;
  margin-top: 5px;
}


.card-list img {
  width: 300px;
  height: 250px;
}

