body {
  background-color: #555;
}

#card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0px;
  overflow: hidden;
}
#card li {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  width: 540px;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  margin-left: 40px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#card li img {
  width: 240px;
}

li div p {
  font-size: 85%;
}
li div a {
  display: flex;
  justify-content: right;
  margin-top: 70px;
  margin-right: 15px;
}
