* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Oleo Script', cursive;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}


/*------------- HEADER ---------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo a {
  text-decoration: none;
  font-family: "Oleo Script", "sans-serif";
  font-size: 250%;
  color: #ffba52;
  padding: 10px;
  text-shadow: 1px 1px 2px #000;
  margin-right: 20px;
}

#navbar {
  list-style-type: none;
  padding: 0px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navbar-list a {
  text-decoration: none;
  font-weight: bold;
  color: #ffba52;
  padding: 5px 0px;
}
#navbar-list a:hover {
  border-bottom: 2px solid #f5b34f;
  color: #f5b34f;
  transition: color 200ms border-bottom 200ms;
}
#navbar-list {
  margin-right: 15px;
  margin-top: 15px;
}
