/*------------- HEADER ---------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo a {
  text-decoration: none;
  font-family: "Oleo Script", "sans-serif";
  font-size: 250%;
  color: #ffba52;
  padding: 10px;
  text-shadow: 1px 1px 2px #000;
  margin-right: 20px;
}

#navbar {
  list-style-type: none;
  padding: 0px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navbar-list a {
  text-decoration: none;
  font-weight: bold;
  color: #ffba52;
  padding: 5px 0px;
}
#navbar-list a:hover {
  border-bottom: 2px solid #f5b34f;
  color: #f5b34f;
  transition: color 200ms border-bottom 200ms;
}
#navbar-list {
  margin-right: 15px;
  margin-top: 15px;
}

/*------------- BACKGROUND IMAGE ------------------*/

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hawaii.jpg");
  background-position: center;
  background-size: cover;
  margin-top: -150px;
  height: 700px;
  z-index: -9999;
}
#hero-content {
  position: relative;
  top: 275px;
  background-color: rgba(51, 47, 47, 0.8);
  text-align: center;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 50px 0;
  border-radius: 8px;
  box-shadow: 2px 4px 8px #444343;
}

#hero-content h1 {
  color: #fff;
  font-size: 175%;
  margin-bottom: 10px;
}
#hero-content p {
  color: #fff;
  font-size: 75%;
  margin-bottom: 30px;
}
#hero-content a {
  background-color: #ffba52;
  color: #000;
  padding: 7px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}

#hero-content a:hover {
  background-color: #f5b34f;
  transition: background-color 200ms;
}

/*------------- HIGHLIGHTS ------------------*/

#highlights {
    background-color: #bef4f8;
}

#highlights h1 {
  font-size: 175%;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

#destinotions {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#destinotions li {
  width: 35%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

#destinotions a {
    text-decoration: none;
    color: #000;
}

strong {
    color: #005a29;
}

#destinotion img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #00000080;
    margin-bottom: 10px;
}
