
/*------------- BACKGROUND IMAGE ------------------*/

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hawaii.jpg");
  background-position: center;
  background-size: cover;
  margin-top: -150px;
  height: 700px;
  z-index: -9999;
}
#hero-content {
  position: relative;
  top: 275px;
  background-color: #332f2fcc;
  text-align: center;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 50px 0;
  border-radius: 8px;
  box-shadow: 2px 4px 8px #444343;
}

#hero-content h1 {
  color: #fff;
  font-size: 175%;
  margin-bottom: 10px;
}
#hero-content p {
  color: #fff;
  font-size: 75%;
  margin-bottom: 30px;
}
#hero-content a {
  background-color: #ffba52;
  color: #000;
  padding: 7px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}

#hero-content a:hover {
  background-color: #f5b34f;
  transition: background-color 200ms;
}

/*------------- HIGHLIGHTS ------------------*/

#highlights {
  background-color: #bef4f8;
}

#highlights h1 {
  font-size: 175%;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

#destinotions {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#destinotions li {
  width: 35%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

#destinotions a {
  text-decoration: none;
  color: #000;
}

strong {
  color: #005a29;
}

#destinotion img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #00000080;
  margin-bottom: 10px;
}



/*------------- FOOTER ------------------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
footer a {
  text-decoration: none;
  margin-right: 30px;
}
footer img {
  width: 40px;
  height: 40px;
  
}


